@page
@model PetHotel.Pages.Categories.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Room Type Details</h1>

<div>
    <h4>Room Type</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category.Price)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Category.Id">Edit Room Type</a> |
    <a asp-page="./Index">Back to Room Types List</a>
</div>
