@page
@model PetHotel.Pages.Categories.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Room Types List</h1>

<p>
    <a asp-page="Create">Add New Room Type</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category[0].Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Category) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit Room Type</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Room Type Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete Room Type</a>
            </td>
        </tr>
}
    </tbody>
</table>
