@page
@model PetHotel.Pages.Owners.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Owner Details</h1>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.OwnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>
    </dl>
</div>

<div>
    <h4>Pets</h4>
    <hr />
    <ul>
        @foreach (var pet in Model.Owner.Pets) //exception here
        {
            <li>
                @Html.DisplayFor(modelItem => pet.PetName)
            </li>
        }
    </ul>
</div>

<div>
    <a asp-page="./Edit" asp-route-id="@Model.Owner.Id">Edit Owner Details</a> |
    <a asp-page="./Index">Back to Owner List</a>
</div>
