@page
@model PetHotel.Pages.Owners.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Owner Details</h1>

<div>
    <h4>Owner</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.OwnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.OwnerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Phone)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Phone)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Owner.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Owner.Email)
        </dd>
    </dl>
</div>

<div>
    <h4>Pets</h4>
    <hr />
    <ul>
        @foreach (var pet in Model.Owner.Pets)
        {
            <li>
                <strong>@Html.DisplayFor(modelItem => pet.PetName)</strong>
            </li>
        }
    </ul>
</div>

<div>
    <h4>Bookings</h4>
    <hr />
    <div>
        @foreach (var pet in Model.Owner.Pets)
        {
            <h5>@Html.DisplayFor(modelItem => pet.PetName)'s Bookings</h5>
            <ul>
                @foreach (var booking in pet.Bookings)
                {
                    <li>
                        Booking: @Html.DisplayFor(modelItem => booking.Description)
                    </li>
                }
            </ul>
        }
    </div>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Owner.Id">
        Edit</a>
    <a class="btn btn-warning" asp-page="./Index">Back to Owner List</a>
</div>
