@page
@model PetHotel.Pages.Owners.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Owners</h1>

<div class="tab-container">
    @foreach (var item in Model.Owner)
    {
        <div class="tab">
            <div class="tab-content">
                <h3>@Html.DisplayFor(modelItem => item.OwnerName)</h3>
                <p>Phone: @Html.DisplayFor(modelItem => item.Phone)</p>
                <p>Email: @Html.DisplayFor(modelItem => item.Email)</p>
                    <div style="text-align: center;">
                        <p><a class="btn btn-success" style="display: block; margin-bottom: 3px;" asp-page="./Edit" asp-route-id="@item.Id">Edit Owner Details</a></p>
                        <p>
                            <a class="btn btn-info" style="display: block; margin-bottom: 3px;" asp-page="./Details" asp-route-id="@item.Id">View Owner Details</a>
                        </p>
                    </div>
            </div>
        </div>
    }
</div>
