@page
@model PetHotel.Pages.Pets.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Pet</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.PetName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.PetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Species)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Species)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Age)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Age)
        </dd>
        </dd>
        @if (User.IsInRole("Admin"))
        {
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.Owner.OwnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pet.Owner.OwnerName)
        </dd>
        }
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pet.hasSpecialNeeds)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Pet.hasSpecialNeeds)
            {
                <text>Yes</text>
            }
            else
            {
                <text>No</text>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Pet.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
