@page
@model PetHotel.Pages.Pets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Pet List</h1>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-page="Create">Add New Pet</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].PetName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Species)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].Age)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th>
                    @Html.DisplayNameFor(model => model.Pet[0].Owner.OwnerName)
                </th>
            }
            <th>
                @Html.DisplayNameFor(model => model.Pet[0].hasSpecialNeeds)
            </th>
            @if (User.IsInRole("Admin"))
            {
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Pet) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Species)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
                @if (User.IsInRole("Admin"))
                {
                    <th>
                        @Html.DisplayFor(modelItem => item.Owner.OwnerName)
                    </th>
                }
            <td>
                    @if (item.hasSpecialNeeds)
                    {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>No</text>
                    }
            </td>
                @if (User.IsInRole("Admin"))
                {
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit Pet</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Pet Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete Pet</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>
