@page
@model PetHotel.Pages.Pets.IndexModel

@{
    ViewData["Title"] = "Index";
}


@if (User.IsInRole("Admin"))
{
    <h1>All Pets</h1>
    <p>
        <a class = "btn btn-dark" asp-page="Create">Add New Pet</a>
    </p>
}
else
{
    <h1>My Pets</h1>
}
<div class="tab-container">
    @foreach (var item in Model.Pet)
    {
        <div class="tab">
            <div class="tab-content">
                <h3>@Html.DisplayFor(modelItem => item.PetName)</h3>
                <p><b>Species: </b> @Html.DisplayFor(modelItem => item.Species)</p>
                <p><b>Age: </b> @Html.DisplayFor(modelItem => item.Age) months</p>
                @if (User.IsInRole("Admin"))
                {
                    <p><b>Owner: </b>@Html.DisplayFor(modelItem => item.Owner.OwnerName)</p>
                }
                <p>
                    <b>Special Needs:</b> @if(item.hasSpecialNeeds)
                    {
                        <text>Yes</text>
                    }
                    else
                    {
                        <text>No</text>
                    }</p>
                @if (User.IsInRole("Admin"))
                {
                    <div style="text-align: center;">
                        <p><a class="btn btn-success" style="display: block; margin-bottom: 3px;" asp-page="./Edit" asp-route-id="@item.Id">Edit Pet Details</a></p>
                        <p>
                            <a class="btn btn-info" style="display: block; margin-bottom: 3px;" asp-page="./Details" asp-route-id="@item.Id">Pet Details</a>
                        </p>
                        <p><a class="btn btn-danger" style="display: block; margin-bottom: 3px;" asp-page="./Delete" asp-route-id="@item.Id">Delete Pet</a></p>
                    </div>
                }
            </div>
        </div>
    }
</div>
