@page
@model PetHotel.Pages.Rooms.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Room</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.RoomNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.RoomNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.isOccupied)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Room.isOccupied)
            {
                <text>Available</text>
            }
            else
            {
                <text>Not available</text>
            }
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Room.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Room.Category.CategoryName)
        </dd>
    </dl>
</div>
<br />
<img src="@Model.Room.Category.Image" alt="Room Image" class="img-fluid" />
<br />
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Room.Id">Edit</a> |
    <a asp-page="./Index">Back to Rooms List</a>
</div>
