@page
@model PetHotel.Pages.Rooms.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Rooms</h1>

<p>
    <a class="btn btn-dark" asp-page="Create">Add New Room</a>
</p>
<div class="tab-container">
    @foreach (var item in Model.Room)
    {
        <div class="tab">
            <img src="@item.Category.Image" alt="@item.Category.CategoryName" class="tab-image" height="150px" width="325px" />
            <div class="tab-content">
                <h3>Room @Html.DisplayFor(modelItem => item.RoomNumber)</h3>
                <p><b>Status: </b>@if (item.isOccupied)
                    {
                        <text>Available</text>
                    }
                    else
                    {
                        <text>Not available</text>
                    }</p>
                <p><b>Category: </b> @Html.DisplayFor(modelItem => item.Category.CategoryName)</p>
                <div style="text-align: center;">
                    <p><a class="btn btn-success" style="display: block; margin-bottom: 3px;" asp-page="./Edit" asp-route-id="@item.Id">Edit Room Details</a></p>
                    <p>
                        <a class="btn btn-info" style="display: block; margin-bottom: 3px;" asp-page="./Details" asp-route-id="@item.Id">View Room Details</a>
                    </p>
                    <p><a class="btn btn-danger" style="display: block; margin-bottom: 3px;" asp-page="./Delete" asp-route-id="@item.Id">Delete Room</a></p>
                </div>
            </div>
        </div>
    }
</div>
