@page
@model PetHotel.Pages.Bookings.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete Booking</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Description)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CheckOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Pet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Pet.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Room.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Booking.Id" />
        <input type="submit" value="Delete Booking" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to Bookings List</a>
    </form>
</div>
