@page
@model PetHotel.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>View Booking Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Description)
        </dt>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CheckOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Pet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Pet.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Room.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Booking.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
