@page
@model PetHotel.Pages.Bookings.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>View Booking Details</h1>

<div>
    <h4>Booking</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CheckIn)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CheckIn)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.CheckOut)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.CheckOut)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Pet)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Pet.PetName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Booking.Room)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Booking.Room.DisplayText)
        </dd>
        <dt class="col-sm-2">
            Total Price
        </dt>
        <dd class="col-sm-10">
            @{
                TimeSpan span = Model.Booking.CheckOut - Model.Booking.CheckIn;
                int numberOfDays = (int)Math.Ceiling(span.TotalDays);
                decimal totalPrice = numberOfDays * Model.Booking.Room.Category.Price;
            }
            @($"{totalPrice:N2} RON")
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-success" asp-page="./Edit" asp-route-id="@Model.Booking.Id">Edit</a> 
    <a class="btn btn-warning" asp-page="./Index">Back to Bookings List</a>
</div>
