@page "/"
@model PetHotel.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>All Bookings</h1>

<p>
    <a asp-page="Create">Add New Booking</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].CheckOut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Pet)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Booking[0].Room)
            </th>
            <th>
                Total price
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Booking) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pet.PetName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Room.DisplayText)
            </td>
            <td>
                    @if (item.Room != null && item.Room.Category != null)
                    {
                        TimeSpan span = item.CheckOut - item.CheckIn;
                        int numberOfDays = (int)Math.Ceiling(span.TotalDays);

                        decimal totalPrice = numberOfDays * item.Room.Category.Price;
                        @($"{totalPrice:N2} RON")
                    }
                    else
                    {
                        <text>N/A</text>
                    }
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit Booking</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Booking Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete Booking</a>
            </td>
        </tr>
}
    </tbody>
</table>
