@page 
@model PetHotel.Pages.Bookings.IndexModel

@{
    ViewData["Title"] = "Index";
}

@if (User.IsInRole("Admin"))
{
    <h1>All Bookings</h1>
}
else
{
    <h1>My Bookings</h1>
}
<p>
    @if (User.IsInRole("Admin"))
    {
        <a class="btn btn-dark" asp-page="Create">Add New Booking</a>
    }
    else
    {
        <a class="btn btn-dark" asp-page="/Bookings/UserBooking">Request a New Booking</a>
    }
</p>
<div class="tab-container">
    @foreach (var item in Model.Booking)
    {
        <div class="tab">
            <div class="tab-content">
                <h3>@Html.DisplayFor(modelItem => item.Description)</h3>
                <p><b>Check-in:</b> @Html.DisplayFor(modelItem => item.CheckIn)</p>
                <p><b>Check out: </b> @Html.DisplayFor(modelItem => item.CheckOut)</p>
                <p><b>Pet Name: </b> @Html.DisplayFor(modelItem => item.Pet.PetName)</p>
            <p><b>Room:</b> @Html.DisplayFor(modelItem => item.Room.DisplayText)
    </p>
                <p>
                    <b>Total price: </b>@if (item.Room != null && item.Room.Category != null)
                    {
                        TimeSpan span = item.CheckOut - item.CheckIn;
                        int numberOfDays = (int)Math.Ceiling(span.TotalDays);

                        decimal totalPrice = numberOfDays * item.Room.Category.Price;
                        @($"{totalPrice:N2} RON")
                    }
                    else
                    {
                        <text>N/A</text>
                    }
                </p>
                @if (User.IsInRole("Admin"))
                {
                    <div style="text-align: center;">
                        <p><a class="btn btn-success" style="display: block; margin-bottom: 3px;" asp-page="./Edit" asp-route-id="@item.Id">Edit Booking</a></p>
                        <p>
                            <a class="btn btn-info" style="display: block; margin-bottom: 3px;" asp-page="./Details" asp-route-id="@item.Id">Booking Details</a>
                        </p>
                        <p><a class="btn btn-danger" style="display: block; margin-bottom: 3px;" asp-page="./Delete" asp-route-id="@item.Id">Delete Booking</a></p>
                    </div>
                }
            </div>
        </div>
    }
</div>
